<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Employee</title>
    <style type="text/css">
        .nav{
            display: flex;
            float: right;
        }
        .nav >div{
            padding-left: 18px;
            padding-right: 4px;
        }
    </style>
</head>
<body>
    <div class="nav">
        <div><a href={{"/employee?employee_id="+employee_id+"&session="+session}}>Home</a></div>
        <div><a href={{"/bookMeetingList?employee_id="+employee_id+"&session="+session}}>View Meeting</a></div>
        <div><a href={{"/login"}}>Log Out</a></div>
        <div><a href={{"/login"}}>Login</a></div>
    </div>
    <section >
        <h1>Select Date for meeting</h1>
    	<form action="/employee" method="get">
    		<select name="meeting_day" >
    		{% for m in meeting_days %}
    		<option value={{m['date']}}>{{m['message']}}</option>
			{% endfor %}
			<input type="submit" value="Search">
			<input type="hidden" name="session" value={{session}}>
			<input type="hidden" name="employee_id" value={{employee_id}}>
    	</select>	
    	</form>

    	<div class="meetings">
            <h2>Select one of them to see detail</h2>
    		<form action="/meetingEmployee" method="get">
	    		{% for m in meeting_list %}
	    		<button name="meeting_id" value={{m["meeting_id"]}} type="submit">{{m["timestamp"]}}</button>
				{% endfor %}
				<input type="hidden" name="session" value={{session}}>
				<input type="hidden" name="employee_id" value={{employee_id}}>
			</form>
    	</div>
    </section>
</body>
</html>





